@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

a {
  @apply text-gray-400 hover:text-blue-400 !important;
}

* {
  box-sizing: border-box;
}

.rehype-code-title {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #022a4b;
  color: 'fff';
  padding: 0.75rem 1rem;
  margin-top: 0.5rem;
}

.rehype-code-title + pre[class*='language-'] {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

:not(pre) > code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.85em;
  background: #022a4b;
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
}

code[class*='language-'],
pre[class*='language-'] {
  font-size: 0.85rem !important;
}
